.features {
    margin-bottom: 4.375rem;

    &__container {
        padding-left: 1.75rem;
        padding-right: 1.75rem;

        @include breakpoint-up(medium) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__intro {
        
        span {
            content: "";
            display: block;
            width: 9.375rem;
            height: 1px;
            background-color: $darkViolet;
            margin: 8.75rem auto 3.125rem auto;

            @include breakpoint-up(large) {
                margin-left: 0;
                margin-top: 306px;
                width: 7.875rem;
                background-color: $grayishBlue;
            }
        }

        h1 {
            text-align: center;
            margin: 0 auto 3.4375rem auto;

            @include breakpoint-up(large) {
                text-align: left;
                font-size: 51px;
                margin-bottom: 105px;
            }

        }
    }

    &__grid {
        
        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 3.125rem;
        }

        .feature {
            display: flex;
            flex-direction: column;

            .icon {
                margin-bottom: 2.5rem;
                width: 5.5rem;
                align-self: center;

                @include breakpoint-up(large) {
                    align-self: flex-start;
                }

            }

            h3 {
                font-size: 1.625em;
                margin-top: 0px;
                margin-bottom: 2.0625rem;
                align-self: center;

                @include breakpoint-up(large) {
                    align-self: flex-start;
                }
            }

            p {
                line-height: 1.5;
                margin-top: 0;
                margin-bottom: 4rem;
                align-self: center;
                text-align: center;
                opacity: 0.45;

                @include breakpoint-up(medium) {
                    width: 40%
                }

                @include breakpoint-up(large) {
                    align-self: flex-start;
                    text-align: left;
                    width: 100%;
                }
            }
        }
    }
}