html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-weight: 400;

    &.noscroll {
        overflow: hidden;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

//Spacing
.container {
    max-width: 90rem;
    margin: 0 auto;
    
    &--px {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

//Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

//Buttons
button, .button {
    display: inline-block;
    color: $darkViolet;
    border: $darkViolet solid 2px;
    padding: 0.5625rem 1.9375rem;
    background-color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
        color: $veryLightGray;
        background-color: $darkViolet;
    }
}

//Visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

