.hero {
    min-width: 23.125rem;

    &__wrapper {
        height: 62.375rem;
        position: relative;
        background-color: $darkViolet;

        @include breakpoint-up(medium) {
            display: inline-flex;
            width: 100%;
            height: 600px;
            
        }
    }

    &__imageMobile {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 2;
    }

    &__mobileLeft {
        position: absolute;
        left: -2%;
        top: 43%;
        width: 57%;
    }

    &__mobileRight {
        position: absolute;
        right: 0;
        top: 85%
    }

    &__imageDesktop {
        position: absolute;
        top: 17%;
        right: 0;
        width: 100%;
        height: auto;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.397);
        border-radius: 3px;
        
    }

    &__desktopRight {
        position: absolute;
        z-index: 2;
        right: 0%;
        top: -12%;

    }

    &__desktopLeft {
        position: absolute;
        top: 60%;

    }

    &__textContainer {
        position: absolute;
        color: $veryLightGray;
        text-align: center;

        h1 {
            margin-top: 6.5rem;
            margin-bottom: 2rem;
        }

        p {
            opacity: 0.85;
            margin-bottom: 2.25rem;
        }

        button {
            opacity: 0.85;
        }
    }

    &__desktopTextContainer {
        display: inline-flex;
        width: 98%;
        color: $veryLightGray;


        span {
            content: "";
            background-color: white;
            height: 2px;
            display: block;
            width: 12.5rem;
            margin-top: 7rem;
            margin-bottom: 4.6875rem;
        }

        h1 {
            margin-bottom: 2.5rem;
        }

        p {
            width: 95%;
            margin-bottom: 2.25rem;
        }

        .textBox {
            width: 50%;
            
        }

        .imageBox {
            width: 50%;
            position: relative;
        }   
    }
}
