.moreInfo {
    background-color: white;
    position: relative;
    margin-bottom: 9.4rem;

    &__container {
        background-color: $darkViolet;
        margin-left: 1.75rem;
        margin-right: 1.75rem;
        flex-direction: column;
        position: relative;
        height: 21.3125rem;

        @include breakpoint-up(medium) {
            height: 15.6rem;
        }

        @include breakpoint-up(large) {
            margin-left: auto;
            margin-right: auto;
            height: 15.6rem;
        }

        


        h2 {
            color: white;
            font-size: 2.375em;
            text-align: center;
            z-index: 2;
            margin-top: 4.4rem;
            margin-bottom: 2.4rem;

            @include breakpoint-up(large) {
                position: absolute;
                left: 5.2rem;
                font-size: 3.3em;
                width: 42%;
                text-align: left;
            }
        }

        a {
            z-index: 2;

            @include breakpoint-up(large) {
                position: absolute;
                right: 5.2rem;
                top: 43%;
            }
        }


    }

    &__imageMobile {
        position: absolute;
        right: 0;
    }

    &__imageDesktop {
        position: absolute;
        right: 0;
    }


}